In [14]:
from webdriver_manager.chrome import ChromeDriverManager

from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\bmrop\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\bmrop\anaconda3\lib\site-packages (from webdriver_manager) (2.28.1)
Requirement already satisfied: python-dotenv in c:\users\bmrop\anaconda3\lib\site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: packaging in c:\users\bmrop\anaconda3\lib\site-packages (from webdriver_manager) (21.3)
Requirement already satisfied: tqdm in c:\users\bmrop\anaconda3\lib\site-packages (from webdriver_manager) (4.64.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\bmrop\anaconda3\lib\site-packages (from packaging->webdriver_manager) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bmrop\anaconda3\lib\site-packages (from requests->webdriver_manager) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bmrop\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bmrop\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bmrop\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: colorama in c:\users\bmrop\anaconda3\lib\site-packages (from tqdm->webdriver_manager) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

In [4]:
# Visit the Formula 1 site for salaries
url = 'https://www.sportingnews.com/us/formula-1/news/how-much-f1-drivers-paid-salaries-teams-2023/kr2jqdm7hofmbpyohlckmuy5'
browser.visit(url)

In [12]:
html = soup(browser.html, 'html.parser')

In [13]:
table = html.find('div', class_='table-container')
table

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width: 500px;"><caption><strong>2023 F1 Driver Salaries</strong></caption>
<tbody><tr><td class="text-align-center"><strong>Driver</strong></td>
<td class="text-align-center"><strong>Team</strong></td>
<td class="text-align-center"><strong>Salary</strong></td>
<td class="text-align-center"><strong>Age</strong></td>
</tr><tr><td class="text-align-center">Max Verstappen</td>
<td class="text-align-center">Red Bull</td>
<td class="text-align-center">$55M</td>
<td class="text-align-center">25</td>
</tr><tr><td class="text-align-center">Lewis Hamilton</td>
<td class="text-align-center">Mercedes</td>
<td class="text-align-center">$35M</td>
<td class="text-align-center">38</td>
</tr><tr><td class="text-align-center">Charles Leclerc</td>
<td class="text-align-center">Ferrari</td>
<td class="text-align-center">$24M</td>
<td class="text-align-center">25</td>
</tr><tr><td class="text-align-center">Lando Norris</td>
<td class="text-align-center">McLaren</td>
<td class="text-align-center">$20M</td>
<td class="text-align-center">23</td>
</tr><tr><td class="text-align-center">Carlos Sainz</td>
<td class="text-align-center">Ferrari</td>
<td class="text-align-center">$12M</td>
<td class="text-align-center">28</td>
</tr><tr><td class="text-align-center">Sergio Perez</td>
<td class="text-align-center">Red Bull</td>
<td class="text-align-center">$10M</td>
<td class="text-align-center">33</td>
</tr><tr><td class="text-align-center">Valterri Bottas</td>
<td class="text-align-center">Alfa Romeo</td>
<td class="text-align-center">$10M</td>
<td class="text-align-center">33</td>
</tr><tr><td class="text-align-center">George Russell</td>
<td class="text-align-center">Mercedes</td>
<td class="text-align-center">$8M</td>
<td class="text-align-center">25</td>
</tr><tr><td class="text-align-center">Esteban Ocon</td>
<td class="text-align-center">Alpine</td>
<td class="text-align-center">$6M</td>
<td class="text-align-center">26</td>
</tr><tr><td class="text-align-center">Pierre Gasly</td>
<td class="text-align-center">Alpine</td>
<td class="text-align-center">$5M</td>
<td class="text-align-center">27</td>
</tr><tr><td class="text-align-center">Fernando Alonso</td>
<td class="text-align-center">Aston Martin</td>
<td class="text-align-center">$5M</td>
<td class="text-align-center">41</td>
</tr><tr><td class="text-align-center">Kevin Magnussen</td>
<td class="text-align-center">Haas</td>
<td class="text-align-center">$5M</td>
<td class="text-align-center">30</td>
</tr><tr><td class="text-align-center">Alex Albon</td>
<td class="text-align-center">Williams</td>
<td class="text-align-center">$3M</td>
<td class="text-align-center">26</td>
</tr><tr><td class="text-align-center">Oscar Piastri</td>
<td class="text-align-center">McLaren</td>
<td class="text-align-center">$2M</td>
<td class="text-align-center">21</td>
</tr><tr><td class="text-align-center">Lance Stroll</td>
<td class="text-align-center">Aston Martin</td>
<td class="text-align-center">$2M</td>
<td class="text-align-center">24</td>
</tr><tr><td class="text-align-center">Guanyu Zhou</td>
<td class="text-align-center">Alfa Romeo</td>
<td class="text-align-center">$2M</td>
<td class="text-align-center">23</td>
</tr><tr><td class="text-align-center">Nyck de Vries</td>
<td class="text-align-center">AlphaTauri</td>
<td class="text-align-center">$2M</td>
<td class="text-align-center">28</td>
</tr><tr><td class="text-align-center">Nico Hülkenburg</td>
<td class="text-align-center">AlphaTauri</td>
<td class="text-align-center">$1M</td>
<td class="text-align-center">35</td>
</tr><tr><td class="text-align-center">Yuki Tsunoda</td>
<td class="text-align-center">AlphaTauri</td>
<td class="text-align-center">$1M</td>
<td class="text-align-center">22</td>
</tr><tr><td class="text-align-center">Logan Sargeant</td>
<td class="text-align-center">Williams</td>
<td class="text-align-center">$1M</td>
<td class="text-align-center">22</td>
</tr></tbody></table></div>

In [15]:
# Create a dataframe from the table 
df = pd.read_html(str(table))[0]
df

                  0             1       2    3
0            Driver          Team  Salary  Age
1    Max Verstappen      Red Bull    $55M   25
2    Lewis Hamilton      Mercedes    $35M   38
3   Charles Leclerc       Ferrari    $24M   25
4      Lando Norris       McLaren    $20M   23
5      Carlos Sainz       Ferrari    $12M   28
6      Sergio Perez      Red Bull    $10M   33
7   Valterri Bottas    Alfa Romeo    $10M   33
8    George Russell      Mercedes     $8M   25
9      Esteban Ocon        Alpine     $6M   26
10     Pierre Gasly        Alpine     $5M   27
11  Fernando Alonso  Aston Martin     $5M   41
12  Kevin Magnussen          Haas     $5M   30
13       Alex Albon      Williams     $3M   26
14    Oscar Piastri       McLaren     $2M   21
15     Lance Stroll  Aston Martin     $2M   24
16      Guanyu Zhou    Alfa Romeo     $2M   23
17    Nyck de Vries    AlphaTauri     $2M   28
18  Nico Hülkenburg    AlphaTauri     $1M   35
19     Yuki Tsunoda    AlphaTauri     $1M   22
20   Logan Sargeant      Williams     $1M   22

In [18]:
#change column names
df.columns = ['Driver', 'Team', 'Salary', 'Age']
df

             Driver          Team Salary Age
1    Max Verstappen      Red Bull   $55M  25
2    Lewis Hamilton      Mercedes   $35M  38
3   Charles Leclerc       Ferrari   $24M  25
4      Lando Norris       McLaren   $20M  23
5      Carlos Sainz       Ferrari   $12M  28
6      Sergio Perez      Red Bull   $10M  33
7   Valterri Bottas    Alfa Romeo   $10M  33
8    George Russell      Mercedes    $8M  25
9      Esteban Ocon        Alpine    $6M  26
10     Pierre Gasly        Alpine    $5M  27
11  Fernando Alonso  Aston Martin    $5M  41
12  Kevin Magnussen          Haas    $5M  30
13       Alex Albon      Williams    $3M  26
14    Oscar Piastri       McLaren    $2M  21
15     Lance Stroll  Aston Martin    $2M  24
16      Guanyu Zhou    Alfa Romeo    $2M  23
17    Nyck de Vries    AlphaTauri    $2M  28
18  Nico Hülkenburg    AlphaTauri    $1M  35
19     Yuki Tsunoda    AlphaTauri    $1M  22
20   Logan Sargeant      Williams    $1M  22

In [19]:
#export as csv  
df.to_csv('f1_salaries.csv', index=False)